<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Property Management Service</title>
    <!-- You can add common meta tags or styles here -->
</head>
<body>
    <header>
        <!-- Common header content -->
    </header>
    <section layout:fragment="content">
        <!-- Main content will be inserted here -->
    </section>
    <footer>
        <!-- Common footer content -->
    </footer>
</body>
</html>
